<div class="container">
  <app-custom-alert
    [message]="alertMessage"
    [show]="alertVisible"
    (closed)="alertVisible = false">
  </app-custom-alert>
  
  <div class="left-panel">
    <div class="logo">
      <img src="assets/icons/logoUPTC.svg" alt="UPTC Logo" class="logo-image" />
    </div>
    <h1>SGTU</h1>
    <h1>Sistema de Gestión de Tutorías Universitarias</h1>
  </div>

  <div class="right-panel">
    <div class="form-toggle">
      <h1>Iniciar Sesión</h1>
      <h2>Ingresa tus credenciales institucionales</h2>
    </div>

    <form class="signup-form" (ngSubmit)="login()">
      <label>Usuario</label>
      <input type="text" placeholder="@uptc.edu.co" [(ngModel)]="usuario" name="usuario" required />

      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" required />

      <div class="checkbox">
        <input type="checkbox" id="terms" />
        <label for="terms">
          <a href="#">Remember me</a>
        </label>
      </div>

      <p class="member-text">¿Olvidaste tu Contraseña?</p>

      <button class="signup-btn" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>
